S3method(add.bizdays,Date)
S3method(add.bizdays,POSIXct)
S3method(add.bizdays,POSIXlt)
S3method(add.bizdays,character)
S3method(adjust.next,Date)
S3method(adjust.next,POSIXct)
S3method(adjust.next,POSIXlt)
S3method(adjust.next,character)
S3method(adjust.previous,Date)
S3method(adjust.previous,POSIXct)
S3method(adjust.previous,POSIXlt)
S3method(adjust.previous,character)
S3method(bizdays,Date)
S3method(bizdays,POSIXct)
S3method(bizdays,POSIXlt)
S3method(bizdays,character)
S3method(bizdayse,Date)
S3method(bizdayse,POSIXct)
S3method(bizdayse,POSIXlt)
S3method(bizdayse,character)
S3method(bizseq,Date)
S3method(bizseq,POSIXct)
S3method(bizseq,POSIXlt)
S3method(bizseq,character)
S3method(bizyears,Date)
S3method(bizyears,POSIXct)
S3method(bizyears,POSIXlt)
S3method(bizyears,character)
S3method(bizyearse,Date)
S3method(bizyearse,POSIXct)
S3method(bizyearse,POSIXlt)
S3method(bizyearse,character)
S3method(is.bizday,Date)
S3method(is.bizday,POSIXct)
S3method(is.bizday,POSIXlt)
S3method(is.bizday,character)
S3method(print,Calendar)
export(Calendar)
export(add.bizdays)
export(adjust.next)
export(adjust.previous)
export(bizdays)
export(bizdays.options)
export(bizdayse)
export(bizseq)
export(bizyears)
export(bizyearse)
export(is.bizday)
